.modularity-mod-location {
    ul + ul {
        padding: 10px 0 0 0;
    }
}

.submit-event-form {
    .sub-fields,
    .form-section,
    .form-group.submit-error,
    .form-group.submit-success {
        margin-bottom: 1rem;
    }
}

.modularity-mod-event .checkbox-list ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(var(--base, 8px) * 2);
    row-gap: calc(var(--base, 8px) * .5);
    margin-top: calc(var(--base, 8px) * 1);
    list-style: none;
    padding: 0;

    li {
        margin-top: 0;

        label {
            display: flex;
            gap: calc(var(--base, 8px) * .5);
        }
    }
}