.modularity-mod-event {
	.event-date {
	    display: table-cell;
	    width: 60px;
	    min-width: 60px;
	    border-right: 1px solid #e7e5e1;
	    font-weight: 300;
	    font-size: .8rem;
	    color: #252525;

	    height: 100%;
	    line-height: 140%;
	    vertical-align: middle;
	    text-align: center;

	    span {
	    	display: block;
	    }
	}

	.event-content {
	    display: table-cell;
	    vertical-align: middle;
	    padding: 10px 15px;
	}

	.loading-wrapper {
		padding-top: 20px;
	}

	.module-content {
		min-height: 47px;

		li {
			padding: 0px !important;
		}
	}

	.module-footer {
		background-color: #f6f5f2;
		margin: 0;

		li {
			margin-right: 6px;
		}

		.disabled {
			cursor: default;

			&.temporary {
				opacity: 1 !important;
			}
		}

		.module-archive {
			font-size: 14px;
			color: #666;

			li {
				line-height: 3;
			}
		}
	}

	.passed-event {
		.event-content a, .event-date {
			color: #8c8c8c;
		}
	}

}
