.modularity-mod-event {
	.event-date {
	    display: table-cell;
	    width: 60px;
	    padding: 7px;
	    border-right: 1px solid #e7e5e1;
	    font-weight: 300;
	    font-size: .8rem;
	    color: #252525;

	    height: 100%;
	    line-height: 140%;
	    vertical-align: middle;
	    text-align: center;

	    span {
	    	display: block;
	    }
	}

	.event-content {
	    display: table-cell;
	    vertical-align: middle;
	    padding: 10px 15px;
	}

	.loading-wrapper {
		padding-top: 20px;
	}

	.module-content {
		min-height: 48px;

		li {
			padding: 0px !important;
		}
	}

	.module-footer {
		background-color: #f6f5f2;
		border-top: 1px solid #e7e5e1;
		display: block;
		overflow: hidden;
		margin: 0;

		a {
			color: #666;
			font-size:14px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			list-style: none;
			margin: 0;
			float: left;
			border: 0px !important;
			font-size: 14px;
			padding: 5px 1px 5px 5px !important;
		}

		.module-archive {
			float: right;
			padding: 5px 0 0 0;
		}

		.module-pagination {
			a, span {
				float: left;
				line-height:24px;
				font-weight: normal;
				text-align: center;
				border: 1px solid #d9d9d9;
				min-width: 14px;
				padding: 0 7px;
				margin: 0 5px 0 0;
				border-radius: 3px;
				background: #fcfcfc;
			}

			a:hover {
				text-decoration: none;
				background: #fff;
			}

			.current {
				background: #666;
				color: #fff;
				border-color: #444;
				cursor: default;
			}

			.disabled {
				cursor: default;
			}

			.ellipse {
				padding: 0px;
				background: none;
				border: none;
				border-radius: 0;
				box-shadow: none;
				cursor: default;
			}
		}
	}
}
