.event-info-shortcode {
	span {
		display: block;
	}

	ul {
		margin-bottom: 10px;
	}

	ul, li {
		list-style: none !important;
	}

	a {
		word-break: break-all;
	}

	.shortcode-box {
		margin-top: 20px;
	}
}

 #event-map {
	 height: 250px;
	 width: 100%;
	 border-radius: 3px;
	 margin: 0 0 15px 0;
	 border: 1px solid #e5e5e5;
 }