.event-info-shortcode {
	span {
		display: block;
	}

	ul {
		margin-bottom: 10px;
	}

	ul, li {
		list-style: none !important;
	}

	a {
		word-break: break-all;
	}

	.shortcode-box {
		margin-top: 20px;
	}
}