.single-event {
    .date-box {
        span {
            color: #fff;
        }
    }
    .modularity-event-heading {
        display: inline-flex;
    
        .modularity-event-date-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: 94px;
            height: 94px;
            padding: 12px;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            gap: 12px;
            font-size: 24px;
            line-height: 24px;
        }
    
        .modularity-event-title {
            align-self: center;
            margin-left: 16px;
        }
    }
    
    .modularity-event-ticket-box {
        background: #fff;
        border: 1px solid #000;
    }
    
    .modularity-event-content p:first-child {
        font-weight: bold;
    }
    
    .modularity-event-hero {
        padding-top: 20%;
        padding-bottom: 20%;
        gap: 0;
    }
    
    .modularity-event-accordion {
        ul {
            list-style: none;
        }
    }
}
