$single-event-color-map-border: var(--color-border, #e5e5e5) !default;
$single-event-width-map-border: var(--border-width-card, 2px) !default;

.single-event {
    .modularity-event-hero {
        padding-top: 20%;
        padding-bottom: 20%;
        gap: 0;
    }
    
    #event-map {
        height: 250px;
        width: 100%;
        border-radius: 3px;
        margin: 0 0 15px 0;
        border: 1px solid $single-event-color-map-border;
    }
}
