.DayPicker {
  position: absolute;
  z-index: 9999;
  background: white;
  border-radius: 12.5px;
  box-shadow: 0px 7px 29px -15px black;
}

.modularity-event-index
  .modularity-event-index__body.is-disabled
  .modularity-event-index__content {
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
}
.modularity-event-index
  .modularity-event-index__loader.modularity-event-index__loader--float {
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 895px) {
  .modularity-event-index--mobile-slider 
    .modularity-event-index__content > .o-grid {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: calc(100vw - calc(var(--base, 8px) * 2));
    padding-right: calc(var(--base, 8px) * 2);
  }

  .modularity-event-index--mobile-slider 
    .modularity-event-index__content > .o-grid > .grid-xs-12 {
    flex: 0 0 85%;
  }
}