.DayPicker {
  position: absolute;
  z-index: 9999;
  background: white;
  border-radius: 12.5px;
  box-shadow: 0px 7px 29px -15px black;
}

.modularity-event-index
  .modularity-event-index__body.is-disabled
  .modularity-event-index__content {
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
}
.modularity-event-index
  .modularity-event-index__loader.modularity-event-index__loader--float {
  position: absolute;
  width: 100%;
  z-index: 2;
}

/* Age filter */
.age-filter-container {
  width: 150px;
  margin: auto;
  height: 50px;
  background-color: white;
  text-align: center;
  display: none;
  padding: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

div.age-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.age-input input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  width: 50px;
}
